In [17]:
# join csvs one below another culinary_vocab.csv and data_1.csv

import pandas as pd
import os

df1 = pd.read_csv('data_2.csv')
df2 = pd.read_csv('vocab_meanings.csv')

#drop first column of df2

print(df1.columns, df2.columns)

# join df1 and df2 one below another
df = pd.concat([df1, df2], axis=0)

Index(['names', 'meanings'], dtype='object') Index(['names', 'meanings'], dtype='object')

In [18]:
df.to_csv('data_3_.csv', index=False)

               names                                           meanings
0.0    churrascarias  A steakhouse where food in a churrasco style i...
1.0        filleting                To slice bone or make into fillets.
2.0           nestle          To settle oneself comfortably and snugly.
3.0           quizno                                                NaN
4.0              vin                          Vin or VIN may refer to:
...              ...                                                ...
99.0           truss  tying poultry limbs together, commonly with st...
100.0        velouté           sauce created by mixing roux with stock.
101.0           whip                adding air into food by beating it.
102.0          whisk  manually beating ingredients with a whisk or f...
103.0           zest  a noun meaning the peel of a citrus, or a verb...

[3376 rows x 2 columns]

In [19]:
# load dataPDF.csv and join with df
df3 = pd.read_csv('dataPDF.csv')
df = pd.concat([df, df3], axis=0)

df.to_csv('data_3_.csv', index=False)

In [20]:
df = pd.read_csv('submission_with_meanings.csv')
df1 = pd.read_csv('dataPDF.csv', names=['names', 'meanings'])

df = pd.concat([df, df1], axis=0)

In [22]:
df.to_csv('submission_with_meanings.csv', index=False)

In [26]:
df

            names                                           meanings
5          tomato  A widely cultivated plant Solanum lycopersicum...
11      cassoulet  A rich stew originating in southwest France co...
30        sashimi  A dish consisting of thin slices or pieces of ...
37         simmer                 The state or process of simmering.
41      guacamole  An avocado-based greenish dip with onions toma...
...           ...                                                ...
3433      souffle                       Light puffed baked custard.
3439        tripe   The white fatty inner lining of the stomach, ...
3441  vol-au-vent                                 Puff pastry case.
3442          wok               A concave pan used for stir frying.
3444         zest   The rind of orange or lemon grated and used f...

[684 rows x 2 columns]